<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <title>Rifle</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">LUU Riflle Score Keeper</span>
</nav>

    <div class="container">

    <div class="row">
      <div class="col-md-9 col-12">

	    <%@ body {%>
		  <% } %>

      </div>

    <div class="col-md-3 col-12">
    <form method="post">
  	  <div class="form-group">
  		  <label for="uid">User ID</label>
  			<input type="text" class="form-control" id="uid" name="uid" placeholder="Uni ID" />
      </div>
  
  	  <div class="form-group">
  			<label for="discipline">Discipline</label>
  			<select class="form-control" name="discipline" id="discipline">
  			  <option value="0">.22lr Prone</option>
  			  <option value="1">.22lr Kneeling</option>
  			  <option value="2">.22lr Offhand Carbine</option>
  			</select>
      </div>
  
  	  <div class="form-group">
  		  <label for="score">Score</label>
  			<input type="text" class="form-control" id="score" name="score" placeholder="Outta 100" />
      </div>

	  	<button type="submit" class="btn btn-primary">Add Record</button>
    </form>

    </div>

    </div>

    </div>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
